.container {
    width: 100%;
    max-width: 133rem;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1440px) {
        max-width: 127.6rem;
    }
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}
