.s-hero {
    position: relative;

    .slide-principal {
        width: 100%;
        height: 73.6rem;

        .swiper-wrapper {
            .swiper-slide {
                padding-top: 20.7rem;
                &.slide-01 {
                    background: url("../img/banner-slide-01.jpg") no-repeat center center;
                }
                &.slide-02 {
                    background: url("../img/banner-slide-02.jpg") no-repeat center top;
                    background-size: cover;
                }
                &.slide-03 {
                    background: url("../img/banner-slide-03.jpg") no-repeat center top;
                    background-size: cover;
                    .left-content {
                        max-width: 62.6rem;
                    }
                }

                .container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .left-content {
                    margin-left: 22.3rem;
                    width: 100%;
                    max-width: 56.2rem;
                    h2 {
                        font-weight: 700;
                        font-size: 6.4rem;
                        line-height: 110.2%;
                        color: #ffffff;
                        margin-bottom: 1.6rem;
                    }
                    p {
                        font-size: 1.8rem;
                        line-height: 27px;
                        letter-spacing: -0.005em;
                        color: #ffffff;
                        margin-bottom: 3.2rem;
                    }

                    .btn {
                        padding: 0px 38px;
                        line-height: 52px;
                    }
                }
                .right-content {
                    width: 100%;
                    max-width: 29.2rem;
                    margin-top: -34px;
                    .logo {
                        width: 100%;
                        max-width: 28rem;
                        height: 18rem;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        margin-bottom: 8.6rem;
                    }
                    .video {
                        width: 100%;
                        max-width: 28rem;

                        span {
                            display: block;
                            text-align: right;
                            font-weight: 600;
                            font-size: 1.3rem;
                            line-height: 2rem;
                            text-transform: uppercase;
                            color: #ffffff;
                            margin-bottom: 1.6rem;
                        }

                        .btn-video {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            width: 100%;
                            height: 15.8rem;
                            border-radius: 4px;
                            overflow: hidden;
                            .thumb {
                                position: absolute;
                                top: 0%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: opacity 0.3s;
                                &:hover {
                                    &.default {
                                        opacity: 0;
                                    }
                                    &.hover {
                                        opacity: 1;
                                    }
                                }
                                &.default {
                                    opacity: 1;
                                }
                                &.hover {
                                    opacity: 0;
                                }
                            }
                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                z-index: 1;
                                width: 51px;
                                height: 51px;
                                border-radius: 50%;
                                background: linear-gradient(
                                    136.72deg,
                                    rgba(7, 7, 10, 0.86) 19.22%,
                                    rgba(15, 16, 22, 0.5) 76.59%
                                );
                                backdrop-filter: blur(1.5px);
                            }
                        }
                    }
                }
            }
        }
    }

    .slide-thumbnail {
        position: absolute;
        top: 24.1rem;
        left: 8%;
        z-index: 2;
        height: 32rem;
        .swiper-wrapper {
            .swiper-slide {
                width: 4.8rem;
                height: 4.8rem;
                cursor: pointer;
                opacity: 0.4;
                filter: grayscale(100%);
                &.disable {
                    pointer-events: none;
                }
                &-thumb-active {
                    opacity: 1;
                    filter: grayscale(0%);
                }
            }
        }
    }
}

.s-games {
    padding-top: 8.3rem;
    padding-bottom: 11rem;
    .top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .left-top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            max-width: 39.9rem;

            span {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: #8f9199;
                display: block;
                margin-top: 1.1rem;
            }
            h2 {
                font-weight: 700;
                font-size: 3.2rem;
                line-height: 110.2%;
                color: #ffffff;
                width: 100%;
                max-width: 17.5rem;
            }
        }
        .right-top {
            width: 100%;
            max-width: 58.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
                li {
                    &:not(:first-child) {
                        margin-left: 24px;
                    }
                }
            }

            .btn-all-games {
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;    
                text-align: center;
                color: $primary-default;
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
}
